<body>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      	<h1 class="display-4">The Gossip Project - User n° <%= @user.id =%> </h1>
    </div>
	
	<div class="container">
    	<div class="card p-3 text-center">
	        <div class="card mb-4 shadow-sm">
	          	<div class="card-header">
		            <h4 class="my-0 font-weight-normal">Full Name: <strong><%= @user.first_name + ' ' + @user.last_name.upcase %></strong></h4>
		        </div>
		        <div class="card-body">
		           	<ul class="list-unstyled mt-3 mb-4">
		              	<li>Description: <%= @user.description %></li>
		              	<li>Mailto: <%= @user.email %></li>
		              	<li>City: <%= City.find(@user.city_id).name %></li>
		              	<li>Zip_code: <%= City.find(@user.city_id).zip_code %></li>
		              	<li>Age:  <%= @user.age %></li>
		            </ul>
	          	</div>
	        </div>
    	</div>

		<% ((Gossip.where(user_id: @user.id).size)/3 + 1).times do %>
			<div class="card-deck">
				<% (Gossip.where(user_id: @user.id).order(:id)[@i..@i+2]).each_with_index do |gossip, index| %>
	      			<div class="card mt-4 shadow-sm">
	        			<!-- <img class="card-img-top" src="https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2015/04/gossip-730x344.jpg" alt="Card image cap"> -->
	        			<div class="card-header bg-defaut">
	        				<h4 class="my-0 font-weight-normal">Gossip <%= gossip.id %>: <strong><%= gossip.title %></strong></h4>
	      				</div>
	        			<div class="card-body">
			           		<ul class="list-unstyled mt-3 mb-4">
				              	<li class="text-justify"><%= gossip.content.slice(0..20) %>...</li>
				              	Comments: <%=Comment.where(commentable: gossip).size%>
				              	<br/>
				              	Likes: <%=Like.where(likeable: gossip).count%>
				              	<br/>
				            </ul>
				            
				            <div class="text-center">
				            	<%= link_to "Edit", edit_gossip_path(gossip.id) , class: "btn btn-lg btn-outline-default"%>
				            	<%= link_to "Delete", gossip_path(gossip.id), class: "btn btn-lg text-danger  btn-outline-default", data: {confirm: "Are you sure?"}, method: :delete%>
				            </div>
				          	<%= link_to "View more", gossip_path(gossip.id), class: "btn btn-lg btn-block btn-outline-primary"%>

	        			</div>
	        			<div class="card-footer">
							<small class="text-muted">Last updated on: <%= gossip.updated_at %></small>
						</div>
	      			</div>
				<%end%>
				<% @i += 3 %>
			</div>
		<%end%>




	</div>
</body>