<% if @gossip_created != nil %>
	<div class="alert alert-success" role="alert">
		<h4 class="alert-heading">Well done mate! </h4>
	  	<p>Gossip n°<%= @gossip_created.id %> has been created</p>
	  	<hr>
      	<p class="mb-0">
          	<ul>
              	<li>Gossip Title: <%= @gossip_created.title %></li>
              	<li>Gossip Author: <%= User.find(@gossip_created.user_id).first_name + ' ' + User.find(@gossip_created.user_id).last_name.upcase %></li>
          	</ul>
      	</p>
	</div>
<% elsif @gossip_updated != nil %>
	<div class="alert alert-success" role="alert">
		<h4 class="alert-heading">Well done mate! </h4>
	  	<p>Gossip n°<%= @gossip_updated.id %> has been updated</p>
	  	<hr>
      	<p class="mb-0">
          	<ul>
              	<li>Gossip Title: <%= @gossip_updated.title %></li>
              	<li>Gossip Content: <%= @gossip_updated.content %></li>
          	</ul>
      	</p>
	</div>
<% end %>


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  	<h1 class="display-4">The Gossip Project</h1>
  	<p class="lead">Dear visitor, welcome to our secret page. Go through, our gossips.</p>
</div>

<div class="container p-3">
	<%= link_to "Create a gossip", new_gossip_path, class: "btn btn-lg btn-block btn-primary w-100"%>
	<br/>
	<%= render :partial => 'gossips/gossips', :locals => {:tbl_gossip => Gossip.all, i: 0 } %>
</div>